<?xml version="1.0" encoding="utf-8"?>
<configuration>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.6.1" />
    </startup>
  <connectionStrings>
    <add name="AzureConnectionString" connectionString="" />
  </connectionStrings>
  <appSettings>
    <add key="sourceFolder" value="..\FilesSource"/>
    <add key="destinationConteiner" value="testblobconteiner"/>
    <add key="containerForDownload" value="test-blob-container" />
  </appSettings>
</configuration>