<?xml version="1.0" encoding="utf-8"?>
<configuration>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.6.1" />
    </startup>
  <connectionStrings>
    <add name="AzureConnectionString" connectionString="DefaultEndpointsProtocol=https;AccountName=first321;AccountKey=nNmqCfNuBiMKJAQO7HPDAIrxknE8AHJvTAaZ7ur9q53d/rE1CYLo1xCxcC5E7NVdTz2pYSb+ML7qqh8FDIal4Q==;EndpointSuffix=core.windows.net" />
  </connectionStrings>
  <appSettings>
    <add key="sourceFolder" value="..\FilesSource"/>
    <add key="destinationConteiner" value="testblobconteiner"/>
    <add key="containerForDownload" value="test-blob-container" />
  </appSettings>
</configuration>